nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    align-items: center;
    border-bottom: 2px solid white;
}

nav a {
    text-decoration: none;
}


nav img {
    height: 50px;
    border-radius: 100%;
}
nav div {
    display: flex;
}

nav h3 {
    margin-left: 15px;
    color: white;
}

nav p {
    margin-left: 50px;
    font-weight: bold;
    color: white;
}

nav h3:hover,
nav p:hover {
    text-decoration: underline;
}