name: Backend CI pipeline
on:
  push:
    branches:
      - master

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Set environment variables
        run: echo "MONGO_URI=mongodb://localhost:27017/test" >> $GITHUB_ENV

      - name: Run tests
        run: npm test